$navBackgroundColor: #406db5;
@mixin navBorderRadius {
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
@mixin searchConditionRadius {
  border-radius: 10px 10px;
}