@import "./../../../resources/bower_components/reset-css/_reset";
@import "./../../../resources/bower_components/bootstrap/dist/css/bootstrap.min.css";

header {
  .st-navigation {
    li {
      height: 30px;
      width: 100px;
      text-align: center;
      font-size: 18px;
      background-color: #2a189a;
    }
  }
}
